<section class="container">
  <h1><strong>About Me</strong></h1>
  <div
    style="min-height: 70vh; display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    <div style="display: flex; align-items: center;justify-content: center; flex-direction: column;">
      <img src="../../../assets/pictures/fotoRedonda.JPG" />
      <div style="margin-top: 2rem;">
        <a mat-raised-button href="../../../assets/pdfs/EmillyCSantiago_Curriculo.pdf" target="_blank">Download CV.</a>
      </div>
    </div>
    <div style="max-width: 50vw; padding: 1rem; color: grey;">
      <p>
        Engenheira mecânica que fez transição de carreira para área de TI. Em 2014 realizei intercâmbio para a
        University
        of
        Nevada, Las Vegas (UNLV). Durante minha graduação em Engenharia Mecânica, participai da
        equipe de robótica da faculdade, onde trabalhava no projeto e fabricação estrutural de robôs de combate.
      </p>
      <p>
        Em 2022 conclui o curso de desenvolvimento Full-stack da Labenu, guiadas por
        metodologias ágeis (Kanban/Scrum). Atualmente trabalho no desenvolvimento de aplicações web e mobile do design
        até a implantação, utilizando ionic
        e Angular. Integração do sistema com o back-end. Manutenção, criação e refatornação de SPAs em Angular.
      </p>
    </div>
  </div>
</section>