<section class="container">
  <h1><strong>About Me</strong></h1>
  <div class="content">
    <div class="image-container">
      <img src="../../../assets/pictures/fotoRedonda.JPG" alt="foto do perfil" />
      <div class="download-button-container">
        <a mat-raised-button href="../../../assets/pdfs/EmillyCSantiago_Curriculo.pdf" target="_blank">Download CV.</a>
      </div>
    </div>
    <div class="biography-container">
      <p>
        Engenheira mecânica que fez transição de carreira para área de TI. Em 2014 realizei intercâmbio para a
        University of Nevada, Las Vegas (UNLV). Durante minha graduação em Engenharia Mecânica, participai da
        equipe de robótica da faculdade, onde trabalhava no projeto e fabricação estrutural de robôs de combate.
      </p>
      <p>
        Em 2022 conclui o curso de desenvolvimento Full-stack da Labenu, guiadas por metodologias ágeis (Kanban/Scrum).
        Atualmente trabalho no desenvolvimento de aplicações web e mobile do design até a implantação, utilizando ionic
        e Angular. Integração do sistema com o back-end. Manutenção, criação e refatornação de SPAs em Angular.
      </p>
    </div>
  </div>
</section>
