.container {
  min-height: 70vh;
  padding: 4rem;
}

.content {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.download-button-container {
  margin-top: 2rem;
}

.biography-container {
  max-width: 50vw;
  padding: 1rem;
  color: grey;
}

@media (max-width: 600px){
  .content {
    margin-top: 4rem;
    flex-direction: column;
  }
  .biography-container {
    max-width: 100%;
  }
}
