<footer class="container">
  <p>Developed in <strong>Angular</strong></p>
  <div class="content">
    <small>© 2023 Copyright | emillysant.github.io | All rights reserved.</small>
    <div>
      <a class="" href="https://github.com/emillysant" target="_blank" matTooltip="github">
        <button mat-icon-button>
          <img src="../../../assets/icons/github.JPG" />
        </button>
      </a>
      <a class="" href="https://www.instagram.com/santiagoemilly/" target="_blank" matTooltip="instagram">
        <button mat-icon-button>
          <img src="../../../assets/icons/instagram.JPG" />
        </button>
      </a>
      <a class="" href="https://www.linkedin.com/in/emillysantiago23/" target="_blank" matTooltip="linkedin">
        <button mat-icon-button>
          <img src="../../../assets/icons/linkedin.JPG" />
        </button>
      </a>
    </div>
  </div>
</footer>
