<section class="container">
  <div class="content">
    <div>
      <div class="presentation-container">
        <small>Olá, Eu sou Emilly Santiago</small>
      </div>
      <div class="job-container">
        <p class="job-content">Front-end Developer</p>
      </div>
      <div class="introduction-container">
        Desenvolvedora front-end com experiência em frameworks como Angular, React e Ionic.
      </div>
    </div>

    <div class="skills-container">
      <div class="skills-content">
        <div class="example-box" *ngFor="let technology of technologiesData">
          <div [style.background-color]="technology.color" class="technology-container">
            <div class="technology-content">
              <div *ngIf="technology.src != undefined" [matTooltip]="technology.name">
                <img height="80" src="{{technology.src}}" alt="{{technology.name}} ">
                <div class="technology-time-container">
                  <div class="technology-time">{{technology.time}}</div>
                  <small class="technology-time-subtitle">Anos de Experiência</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1>Other Skills</h1>
      <div class="otherSkills-container">
        <div *ngFor="let otherTech of otherTechnologyData">
          <code><img height="32" src="{{otherTech.src}}" alt="{{otherTech.name}}" class="img-otherTech"/></code>
        </div>
      </div>
    </div>

  </div>
</section>
<section>
  <app-about></app-about>
</section>
<section>
  <app-experience></app-experience>
</section>
<section>
  <app-accomplishments></app-accomplishments>
</section>
<section>
  <app-contact [dadosEnacom]="dadosEnacom" (usuarioCadastrado)="usuarioCadastrando($event)"></app-contact>
</section>