<section class="container">
  <div style="margin: 0px 2rem; margin-top: 5rem;">
    <div style="padding: 0px 2rem;">
      <small style="color: grey;">Olá, Eu sou Emilly Santiago</small>
    </div>
    <div style="font-size: 78px; padding: 0px 2rem;">
      Front-end Developer
    </div>
    <div style="color: grey; padding: 2rem;">
      Desenvolvedora front-end com experiência em frameworks como Angular, React e Ionic.
    </div>
  </div>
</section>
<div>
  <app-about></app-about>
</div>
<div>
  <app-experience></app-experience>
</div>