.container {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.06) 100%);
  padding: 1rem 4rem;
}

.content {
  padding: 0px;
  background-color: transparent;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon img {
  height: 30px;
}

.buttonSelected {
  color: grey;
  font-size: bold;
}

.buttonNonSelected {
  font-weight: bold;
  color: black;
}
