<section class="container">
  <div class="busca">
    <mat-form-field class="example-form-field">
      <mat-label>Pesquisar</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="content">
    <div *ngFor="let project of projectsData | appFilter: value">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{project.title}}</mat-card-title>
          <mat-card-subtitle>{{project.framework}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{project.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <a [href]="project.code" target="_blank" mat-button>CODE</a>
          <span *ngIf="project.site">
            <a [href]="project.site" target="_blank" mat-button>SITE</a>
          </span>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
